{% extends 'base.html' %}

{% block body %}

<div class=" d-grid p-1 mb-3 text-center border bg-light">
    <h2>Smartphone Compare</h2>
    </div>

<form>

<div class="row ">
  <div class="col-12 col-md-4 col-lg-4 d-flex">
    <input type="text" list="phone" placeholder="phone 1" name="phone1" class="form-control">

    <datalist id="phone">
      {% for phone in phone %}
        <option value="{{phone.name}}"></option>
      {% endfor %}

    </datalist>
  </div>


<div class="col-12 col-md-4 col-lg-4 d-flex">
  <input type="text" list="phone" placeholder="phone 2" name="phone2" class="form-control">

  <datalist id="phone">
    {% for phone in phone %}
      <option value="{{phone.name}}"></option>
    {% endfor %}

  </datalist>
</div>

<div class="col-12 col-md-4 col-lg-4 d-flex">
  <input type="text" list="phone" placeholder="phone 3" name="phone3" class="form-control">

  <datalist id="phone">
    {% for phone in phone %}
      <option value="{{phone.name}}"></option>
    {% endfor %}

  </datalist>
</div>

</div>

<button type="submit" class="btn btn btn-primary mt-2">Compare</button>

</form>


<div class="row">
  <divclass="col-12 col-md-4 col-lg-4 d-flex">
    {{phone1.name}}
  </div>
  <divclass="col-12 col-md-4 col-lg-4 d-flex">
    
  </div>
  <divclass="col-12 col-md-4 col-lg-4 d-flex">
    
  </div>
</div>

{% endblock %}