{% extends 'base.html' %}

{% block body %}

<div class=" d-grid p-1 mb-3 text-center border bg-light">
    <h2>Smartphone Compare</h2>
    </div>

<form method="post">
  {% csrf_token %}
<div class="row" style="--bs-gutter-x: 0.3rem">
  <div class="col-6 col-md-4 col-lg-4 d-flex">
    <input type="text" list="phone" placeholder="phone 1" name="phone1" class="form-control" required default={{phone1.name}}>

    <datalist id="phone">
      {% for phone in phone %}
        <option value="{{phone.name}}"></option>
      {% endfor %}

    </datalist>
  </div>


<div class="col-6 col-md-4 col-lg-4 d-flex">
  <input type="text" list="phone" placeholder="phone 2" name="phone2" class="form-control" required>

  <datalist id="phone">
    {% for phone in phone %}
      <option value="{{phone.name}}"></option>
    {% endfor %}

  </datalist>
</div>


<div class="col-4 col-md-2 col-lg-1 d-grid p-1">
  <a class="btn btn-info bi bi-arrow-clockwise" href="{% url 'Phone:compare' %}"></a>
</div>

<div class="col-8 col-md-2 col-lg-3 d-grid p-1">
<button type="submit" class="btn btn btn-primary">Compare</button>
</div>
</div>




</form>


<div class="row">
  <div class="col-6 col-md-4 col-lg-6 d-flex ">
    {{phone1.name}}
  </div>
  <div class="col-6 col-md-4 col-lg-6 d-flex ">
    {{phone2.name}}
</div>


{% endblock %}