{% extends 'base.html' %} {% block head %}
<title>{{brand.name}} All Smartphone | SpecBuzz</title>
<meta name="description" content="{{brand.seo_des}}" />
<link rel="canonical" href="https://specbuzz.com{{request.get_full_path}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{brand.seo_title}} - {{date}}" />
<meta property="og:description" content="{{brand.seo_des}}" />
<meta
  property="og:url"
  content="https://specbuzz.com{{request.get_full_path}}"
/>
{% endblock %} {% block body %}

<div class="d-grid p-1 mb-3 text-center border bg-light">
  <h2 class="h4 fw-bolder page-title">{{brand.name}} {{status}} Smartphone</h2>
</div>

<div class="d-grid p-1 mb-2 text-center border bg-light">
  <div class="scrollmenu btn-group btn-sm">
    <a
      style="padding: 5px"
      href="{% url 'Phone:phone_filter' slug=brand.slug status='Released' %}"
      class="btn"
      aria-current="page"
      >Released</a
    >
    <a
      style="padding: 5px"
      href="{% url 'Phone:phone_filter' slug=brand.slug status='Upcoming' %}"
      class="btn"
      >Upcoming</a
    >
    <a
      style="padding: 5px"
      href="{% url 'Phone:phone_filter' slug=brand.slug status='Rumor' %}"
      class="btn"
      >Rumor</a
    >
  </div>
</div>

<!--breadcrumb--> 
<ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
  <li class="breadcrumb-item"><a href="{% url 'Phone:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'Phone:phone_filter' slug=brand.slug status=status %}">{{brand.name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{status}}</li>
</ol>


<div class="row">
{% if page_obj %}
  {% for phone in page_obj %}
  <div class="col-lg-3 col-md-4 col-6 mb-4">
    <div class="card">
      {% if phone.status == 'Upcoming' or phone.status == 'Rumor' %}

      <span
        class="position-absolute top-10 start-80 badge rounded-pill bg-info"
      >
        {{phone.status}}</span
      >
      {% endif %}

      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
        <img
          class="img-fluid"
          src="{{ phone.thumbnail.url }}"
          alt="{{phone.name}}"
          class="w-100"
          alt="{{phone.name}}" 
          width="600" 
          height="600" 
          loading="lazy" 
        />
      </div>
      <div class="card-body p-0 bg-light mt-2">
        <a href="" class="text-reset">
          <a
            class="card-title mb-3 stretched-link text-decoration-none fw-bold"
            href="{{phone.get_absolute_url}}"
            >{{phone.name}}
          </a>
        </a>
        <h6 class="mb-1 mt-1">
          {% if phone.price %}
          <s> {% if phone.old_price %} {{phone.old_price}}$ {% endif %}</s
          ><strong class="ms-2 text-danger">{{phone.price}}$</strong>
          {% else %}
          <strong class="ms-2 text-danger">0.00$</strong>
          {% endif %}
        </h6>
      </div>
    </div>
  </div>

  {% endfor %}

  {% else %}
      <div> 
        <div class="bi bi-phone-flip text-danger" style="font-size: 5rem;"></div>
        <h4 class="text-danger">{{status}} phone Not Available!</h4>
      </div>
  {% endif %}
</div>

<!-- Pagination -->
<div class="row">
  <div class="col-md-4 offset-md-3">
    <ul class="pagination">
      <li class="page-item">
        {% if page_obj.has_previous %}
        <a
          class="page-link"
          href="{% url 'Phone:phone_filter' slug=brand.slug status=status %}?page={{page_obj.previous_page_number}}"
          >Previous</a
        >
        {% endif %}
      </li>
      {% for num_page in page_obj.paginator.page_range %}
      <br />
      {% if page_obj.number == num_page %}
      <li class="page-item active" aria-current="page">
        <a
          class="page-link"
          href="{% url 'Phone:phone_filter' slug=brand.slug status=status %}?page={{num_page}}"
          >{{num_page}}</a
        >
      </li>
      {% else %}
      <li class="page-item" aria-current="page">
        <a
          class="page-link"
          href="{% url 'Phone:phone_filter' slug=brand.slug status=status %}?page={{num_page}}"
          >{{num_page}}</a
        >
      </li>
      {% endif %}
      <br />
      {% endfor %}
      <li class="page-item">
        {% if page_obj.has_next %}
        <a
          class="page-link"
          href="{% url 'Phone:phone_filter' slug=brand.slug status=status %}?page={{page_obj.next_page_number}}"
          >Next</a
        >
        {% endif %}
      </li>
    </ul>
  </div>
</div>

{% endblock %}
