{% extends 'base.html' %}

{% block head %}
     <title>{{phone.name}} Images, Official Pictures</title>
     <meta name="description" content="{{phone.seo_des}}"/>
     <link rel="canonical" href="https://specbuzz.com{{request.get_full_path}}" />
     <meta property="og:type" content="article" />
     <meta property="og:title" content="{{phone.name}} Images, Official Pictures" />
     <meta property="og:description" content="{{phone.seo_des}}" />
     <meta property="og:url" content="https://specbuzz.com{{request.get_full_path}}" />
     <meta property="og:updated_time" content="{{phone.updated}}" />
     {% for gallery in gallery %}
     <meta property="og:image" content="https://specbuzz.com{{gallery.images.url}}" />
     <meta property="og:image:secure_url" content="https://specbuzz.com{{gallery.images.url}}" />
     {% endfor %}
     <meta property="og:image:width" content="600" />
     <meta property="og:image:height" content="600" />
     <meta property="og:image:alt" content="{{phone.name}}" />
     <meta property="og:image:type" content="image/jpeg" />
     <meta property="product:brand" content="{{phone.brand.name}}" />
     
{% endblock %}

{% block body %}

<div class=" d-grid p-1 mb-3 text-center border bg-light">
    <h1 class="h3 fw-bold page-title">{{phone.name}} Images</h1>
    </div>

    <!--breadcrumb--> 
    <ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
      <li class="breadcrumb-item"><a href="{% url 'Phone:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Phone:phone_filter' slug=phone.brand.slug status="Released" %}">{{phone.brand.name}}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Phone:phone_details' slug=phone.slug %}">{{phone.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Images</li>
    </ol>
    

    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 mb-4">
            <img class="img-thumbnail" src="{{phone.thumbnail.url}}" alt="{{phone.name}}">
            
        </div>

        <div class="col-lg-6 col-md-6 col-12 mb-4">

          <div class="text-start">
               <h5 class="fw-bold shadow p-2 rounded bg-dark"><span style="color: white;">Price : </span>  
                    {% if phone.price %}
                    <span class="icon">{{phone.price}}$</span>
                    {% else %}
                    <span class="icon">0.00$</span>
                    {% endif %}
               </h5>
          </div>


          <div class="border text-start">   
                <div class="shadow-sm p-1"> <span class="icon bi bi-table"></span><span class="h5">Released : </span> 
                    {% if phone.release %}
                    <span>{{phone.release}}</span>
                    {% else %}
                    <span>{{phone.status}}</span>
                    {% endif %}
               </div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-android2"></span><span class="h5">OS : </span> <span>{{phone.os}} {{phone.os_version}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-hdd"></span><span class="h5">Display : </span> <span>{{phone.size}} | {{phone.display_type}} GB</span></div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-memory"></span><span class="h5">RAM : </span> <span>{{phone.ram}} GB</span></div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-hdd"></span><span class="h5">Storage : </span> <span>{{phone.storage}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-cpu"></span><span class="h5">Chipset : </span> <span>{{phone.processor.title}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-battery-charging"></span><span class="h5">Battery : </span> <span>{{phone.battery_capacity}}</span></div>
            </div>

            <div class="text-start">
               <a href="{% url 'Phone:phone_details' slug=phone.slug %}" class="text-decoration-none"><h5 class="fw-bold shadow p-2 rounded bg-success mt-4"><span class="bi bi-chevron-double-right" style="color: white;"> Back Specification </span> </h5></a>
          </div>



        </div>
      </div>

    

      {% if gallery %}
      <div class="row">
        <div class="col-12 border">
          
          {% for gallery in gallery %}

          <img class="img-fluid" src="{{gallery.images.url}}" alt="{{gallery.images.name}}">
          <hr>

          {% endfor %}

        </div>
      </div>
      {% else %}

      <div> 
        <div class="bi bi-images text-danger" style="font-size: 5rem;"></div>
        <h4 class="text-danger">Gallery Images Not Available!</h4>
      </div>

      {% endif %}
      
 
      <div class="row">
        <h2 class="h5 fw-bolder border mt-2">{{phone.name}} Specifications</h2>
        <div class="col-12 border">
             <p style="text-align: justify;"> {{phone.name}} release date is {{phone.release}}. 
             {{phone.os}} {{phone.os_version}} is used as the operating system in the phone.{% if phone.ui %} And the user interface is provided by {{phone.ui}}. {% endif %}
             The {{phone.model}} has 2G, 3G, {% if phone.four_g %} 4G, {% endif %} {% if phone.five_g %} 5G, {% endif %} {% if phone.six_g %} 6G, {% endif %} 
             {% if phone.seven_g %} 7G {% endif %} technology as network connectivity and the network speed is available up to {{phone.network_speed}}.
   
             Wireless connectivity also includes {{phone.wifi}}, bluetooth {{phone.bluetooth}}, {% if phone.hotspot %} yes, {% endif %} 
             {% if phone.gps %} GPS, {% endif %} {% if phone.nfc %} NFC {% endif %}.
             <br> <br>
             {% if phone.back_camera %}{{phone.name}} uses {{phone.camera_short}} for taking pictures, they are {{phone.back_camera}}. 
             {% if phone.back_camera_features %} Its features include {{phone.back_camera_features}}, {% endif %}
             {% if phone.back_camera_video %}and  video recording up to {{phone.back_camera_video}}.{% endif %}{% endif %}
   
             {% if phone.front_camera %}{{phone.model}} has a {{phone.front_camera}} camera as a selfie shooter. 
             {% if phone.front_camera_features %} This camera uses {{phone.front_camera_features}} feature {% endif %}
             {% if phone.front_camera_video %} and can record videos up to {{phone.front_camera_video}}{% endif %}. {% endif %}
          
    
             <span id="dots">...
             </span><span id="more">
             <br> <br> {% if phone.processor %}{{phone.processor.title}} chipset is used for {{phone.name}} performance.
             It is an {{phone.processor.cpu}} processor built using {{phone.processor.nm}} architecture.
             There is a {{phone.processor.gpu}} GPU to deliver the graphics.
             {% endif %}
             {{phone.model}} uses {{phone.storage}} Internal Storage and {{phone.ram}} RAM as memory.
   
             <br> <br> 
             {{phone.name}} uses {{phone.display_type}} {{phone.size}} {{phone.refresh_rate}} refresh rate display. 
             The display features {{phone.display_features}}. It has a resolution of {{phone.resulation}} and a pixel density of {{phone.pixel_density}}.
             
             {{phone.model}} body dimensions are {{phone.dimension}} and weight is {{phone.weight}}.
             Front {{phone.front}}, back {{phone.back}}, and {{phone.frame}} frame have been used to build the phone.
             This phone's available color is {{phone.color}}.
   
             <br> <br> 
             There is a {{phone.battery_capacity}} {{phone.battery_type}} battery to power the {{phone.name}}.
             {% if phone.charging %} 
             And the charging features are {{phone.charging}} {% else %}And the charging features are no fast charging{% endif %} {% if phone.wireless_charging %}, {{phone.wireless_charging}} {% endif %} 
             {% if phone.reverse_charging %}, {{phone.reverse_charging}} {% endif %} {% if phone.charging_features %}, {{phone.charging_features}} {% endif %}.
             
   
   
             </span></p>
        <div class="d-grid">
             <button class="btn text-danger" onclick="myFunction()" id="myBtn">Read more</button>
        </div>
   
        </div>
   </div>     
      
<style>
.td-title{
    font-weight: 600;
    color: brown;
    width: 35%;
}

  .bg-info{
     background-color: brown;
     color: rgb(247, 245, 245);
  }

.icon{
     color: coral;
     padding: 5px;
     font-size: 20px;
}
a{
  text-decoration: none;
}



</style>

{% endblock %}
