{% extends 'base.html' %}

{% block head %}
       
{% endblock %}

{% block body %}

<div class=" d-grid p-1 mb-3 text-center border bg-light">
    <h1 class="h3 fw-bold">{{phone.name}}</h1>
    </div>

    

    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 mb-4">
            <a href="{% url 'Phone:phone_gallery' slug=phone.slug %}"><img class="img-thumbnail" src="{{phone.thumbnail.url}}" alt=""></a>
            
        </div>

        <div class="col-lg-6 col-md-6 col-12 mb-4">

          <div class="">
               <h5 class="fw-bold shadow p-2 rounded bg-dark text-start"><span style="color: white;">Price : </span>  
                    {% if phone.price %}
                    <span class="icon">{{phone.price}}$</span>
                    {% else %}
                    <span class="icon">0.00$</span>
                    {% endif %}

                    <span class="text-end h6" style="color: white;"> (Our Rating : 8/10)</span>
               </h5>
          </div>


          <div class="border text-start">   
                <div class="shadow-sm p-1"> <span class="icon bi bi-table"></span><span class="h5">Released : </span> 
                    {% if phone.release %}
                    <span>{{phone.release}}</span>
                    {% else %}
                    <span>{{phone.status}}</span>
                    {% endif %}
               </div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-android2"></span><span class="h5">OS : </span> <span>{{phone.os}} {{phone.os_version}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-hdd"></span><span class="h5">Display : </span> <span>{{phone.size}} | {{phone.display_type}} GB</span></div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-memory"></span><span class="h5">RAM : </span> <span>{{phone.ram}} GB</span></div>
                
                <div class="shadow-sm p-1"><span class="icon bi bi-hdd"></span><span class="h5">Storage : </span> <span>{{phone.storage}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-cpu"></span><span class="h5">Chipset : </span> <span>{{phone.processor.title}}</span></div>

                <div class="shadow-sm p-1"><span class="icon bi bi-battery-charging"></span><span class="h5">Battery : </span> <span>{{phone.battery_capacity}}</span></div>
            </div>

            <div class="text-start ">
               <a href="{% url 'Phone:phone_gallery' slug=phone.slug %}" class="text-decoration-none"><h5 class="fw-bold shadow p-2 rounded bg-success mt-4"><span class="bi bi-chevron-double-right " style="color: white;"> More Pictures </span> </h5></a>
          </div>



        </div>
      </div>

    

      <div class="row">
        <div class="col-12">
          <! -- Primary Information -->
            <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info text-white">Primary Spec</h4>
               
                <tbody>
                   <tr>
                        <td class="td-title">Model</td>
                        <td class="td-data">{{phone.name}}</td>
                   </tr>
                   <tr>
                        <td class="td-title">Brand</td>
                        <td class="td-data">{{phone.brand}}</td>
                      
                   </tr>
                   <tr>
                        <td class="td-title">Category</td>
                        <td class="td-data">{{phone.category}}</td>
                      
                   </tr>
                   <tr>
                        <td class="td-title">Status</td>
                        <td class="td-data">{{phone.status}}</td>
                   </tr>
                   <tr>
                    <td class="td-title">Annoucement</td>
                    <td class="td-data">{{phone.annoucement}}</td>
                   </tr>
                   <tr>
                    {% if phone.release %}
                         <td class="td-title">Released</td>
                         <td class="td-data">{{phone.release}}</td>
                         {% endif %}
                   </tr>
                   
        
                </tbody>
             </table>

             <! -- Network -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Network</h4>
               
                <tbody>
                   <tr>
                        <td class="td-title">Network Type</td>
                        <td class="td-data">{{phone.network_type}}</td>
                   </tr>
                   <tr>
                        <td class="td-title">Network Speed</td>
                        <td class="td-data">{{phone.network_speed}}</td>
                      
                   </tr>
                   <tr>
                        <td class="td-title">SIM</td>
                        <td class="td-data">{{phone.sim}}</td>
                      
                   </tr>
                   <tr>
                        <td class="td-title">2G Network</td>
                        {% if phone.two_g == True %}
                    <td class="td-data">Yes | {{phone.two_g_band}}</td>
                    {% else %}
                    <td class="td-data">No</td>
                    {% endif %}
                   </tr>
                   <tr>
                    <td class="td-title">3G Network</td>
                    {% if phone.three_g == True %}
                         <td class="td-data">Yes | {{phone.three_g_band}}</td>
                    {% else %}
                         <td class="td-data">No</td>
                    {% endif %}
                   </tr>

                   <tr>
                    <td class="td-title">4G Network</td>
                    {% if phone.four_g == True %}
                         <td class="td-data">Yes | {{phone.four_g_band}}</td>
                    {% else %}
                         <td class="td-data">No</td>
                    {% endif %}
                   </tr>

                   <tr>
                    <td class="td-title">5G Network</td>
                    {% if phone.five_g == True %}
                         <td class="td-data">Yes | {{phone.five_g_band}}</td>
                    {% else %}
                         <td class="td-data">No</td>
                    {% endif %}
                   </tr>

                   <tr>
                    <td class="td-title">6G Network</td>
                    {% if phone.six_g == True %}
                         <td class="td-data">Yes | {{phone.six_g_band}}</td>
                    {% else %}
                         <td class="td-data">No</td>
                    {% endif %}
                   </tr>

                   {% if phone.seven_g == True %}

                   <tr>
                    <td class="td-title">7G Network</td>
                    {% if phone.seven_g == True %}
                         <td class="td-data">Yes | {{phone.seven_g_band}}</td>
                    {% else %}
                         <td class="td-data">No | {{phone.seven_g_band}}</td>
                    {% endif %}
                   </tr>

                   {% endif %}

        
                </tbody>
             </table>


             <! -- Body -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Body</h4>
               
                <tbody>
                   
                   <tr>
                    {% if phone.dimension %}
                         <td class="td-title">Dimension</td>
                         <td class="td-data">{{phone.dimension}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.weight %}
                         <td class="td-title">Weight</td>
                         <td class="td-data">{{phone.weight}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.front %}
                         <td class="td-title">Fron</td>
                         <td class="td-data">{{phone.front}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.back %}
                         <td class="td-title">Back</td>
                         <td class="td-data">{{phone.back}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.frame %}
                         <td class="td-title">Frame</td>
                         <td class="td-data">{{phone.frame}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.color %}
                         <td class="td-title">Color</td>
                         <td class="td-data">{{phone.color}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.body_feature %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.body_feature}}</td>
                         {% endif %}
                   </tr>

        
                </tbody>
             </table>


             <! -- Display -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Display</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.display_type %}
                         <td class="td-title">Display Type</td>
                         <td class="td-data" >{{phone.display_type}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.size %}
                         <td class="td-title">Size</td>
                         <td class="td-data">{{phone.size}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.resulation %}
                         <td class="td-title">Resulation</td>
                         <td class="td-data">{{phone.resulation}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.ratio %}
                         <td class="td-title">Ratio</td>
                         <td class="td-data">{{phone.ratio}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.pixel_density %}
                         <td class="td-title">Pixel Density</td>
                         <td class="td-data">{{phone.pixel_density}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.refresh_rate %}
                         <td class="td-title">Refresh Rate</td>
                         <td class="td-data">{{phone.refresh_rate}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.protection %}
                         <td class="td-title">Protection</td>
                         <td class="td-data">{{phone.protection}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.second_display %}
                         <td class="td-title">2nd Display</td>
                         <td class="td-data">{{phone.second_display}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.display_features %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.display_features}}</td>
                         {% endif %}
                   </tr>

        
                </tbody>
             </table>


             <! -- Back Camera -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Back Camera</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.back_camera %}
                         <td class="td-title">Lens</td>
                         <td class="td-data" >{{phone.back_camera|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.back_camera_features %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.back_camera_features}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.back_camera_video %}
                         <td class="td-title">Video Record</td>
                         <td class="td-data">{{phone.back_camera_video}}</td>
                         {% endif %}
                   </tr>
                </tbody>
             </table>


             <! -- Front Camera -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Front Camera</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.front_camera %}
                         <td class="td-title">Lens</td>
                         <td class="td-data" >{{phone.front_camera|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.front_camera_features %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.front_camera_features}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.front_camera_video %}
                         <td class="td-title">Video Record</td>
                         <td class="td-data">{{phone.front_camera_video}}</td>
                         {% endif %}
                   </tr>
                </tbody>
             </table>


             <! -- Platform -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Platform</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.os %}
                         <td class="td-title">Operating System</td>
                         <td class="td-data" >{{phone.os}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.os_version %}
                         <td class="td-title">Version</td>
                         <td class="td-data">{{phone.os_version}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.ui %}
                         <td class="td-title">User Interface</td>
                         <td class="td-data">{{phone.ui}}</td>
                         {% endif %}
                   </tr>
                   {% if phone.chipset %}
                    <tr>
                         {% if phone.chipset %}
                         <td class="td-title">Processor</td>
                         <td class="td-data">{{phone.chipset|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   {% else %}
                   <tr>
                         {% if phone.processor.chipset %}
                         <td class="td-title">Chipset</td>
                         <td class="td-data">{{phone.processor.chipset}}</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.processor.cpu %}
                         <td class="td-title">CPU</td>
                         <td class="td-data">{{phone.processor.cpu}}</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.processor.gpu %}
                         <td class="td-title">GPU</td>
                         <td class="td-data">{{phone.processor.gpu}}</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.processor.nm %}
                         <td class="td-title">Technology Node</td>
                         <td class="td-data">{{phone.processor.nm}}</td>
                         {% endif %}
                    </tr>

                    {% endif %}


                </tbody>
             </table>


             <! -- Memory -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Memory</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.ram %}
                         <td class="td-title">RAM</td>
                         <td class="td-data" >{{phone.ram}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.storage %}
                         <td class="td-title">Storage</td>
                         <td class="td-data">{{phone.storage}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                         {% if phone.memory_slot == True %}
                         <td class="td-title">Extra Slot</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">Extra Slot</td>
                         <td class="td-data">No</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.variant %}
                         <td class="td-title">Variants</td>
                         <td class="td-data">{{phone.variant}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.storage_type %}
                         <td class="td-title">Storage Type</td>
                         <td class="td-data">{{phone.storage_type}}</td>
                         {% endif %}
                   </tr>
                </tbody>
             </table>


             <! -- Audio -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Audio</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.speaker %}
                         <td class="td-title">Speaker</td>
                         <td class="td-data" >{{phone.speaker}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                         {% if phone.audio_jack == True %}
                         <td class="td-title">Extra Slot</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">Extra Slot</td>
                         <td class="td-data">No</td>
                         {% endif %}
                         </tr>
                    <tr>
                    {% if phone.audio_features %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.audio_features}}</td>
                         {% endif %}
                    </tr>
                </tbody>
             </table>

             <! -- Connectivity -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Connectivity</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.wifi %}
                         <td class="td-title">WLAN</td>
                         <td class="td-data" >{{phone.wifi}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                         {% if phone.hotspot == True %}
                         <td class="td-title">Hotspot</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">Hotspot</td>
                         <td class="td-data">No</td>
                         {% endif %}
                    </tr>
                    
                    <tr>
                         {% if phone.nfc == True %}
                         <td class="td-title">NFC</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">NFC</td>
                         <td class="td-data">No</td>
                         {% endif %}
                    </tr>
                    
                    <tr>
                         {% if phone.gps == True %}
                         <td class="td-title">GPS</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">GPS</td>
                         <td class="td-data">No</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.radio == True %}
                         <td class="td-title">Radio</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">Radio</td>
                         <td class="td-data">No</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.infrared_port == True %}
                         <td class="td-title">Infrared Port</td>
                         <td class="td-data">Yes</td>
                         {% else %}
                         <td class="td-title">Infrared Port</td>
                         <td class="td-data">No</td>
                         {% endif %}
                    </tr>
                    <tr>
                         {% if phone.usb %}
                         <td class="td-title">USB</td>
                         <td class="td-data">{{phone.usb}}</td>
                         {% endif %}
                    </tr>

                    
                </tbody>
             </table>

             <! -- Sensor -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Secuirity Sensor</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.fingureprint %}
                         <td class="td-title">Fingureprint</td>
                         <td class="td-data" >{{phone.fingureprint}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.facelock %}
                         <td class="td-title">Facelock</td>
                         <td class="td-data">{{phone.facelock}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.sensor %}
                         <td class="td-title">Sensor</td>
                         <td class="td-data">{{phone.sensor}}</td>
                         {% endif %}
                   </tr>
                </tbody>
             </table>

             <! -- Battery -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Battery</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.battery_type %}
                         <td class="td-title">Battery Type</td>
                         <td class="td-data" >{{phone.battery_type}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.battery_capacity %}
                         <td class="td-title">Battery Capacity</td>
                         <td class="td-data">{{phone.battery_capacity}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.charging %}
                         <td class="td-title">Charging</td>
                         <td class="td-data">{{phone.charging}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.wireless_charging %}
                         <td class="td-title">Wireless Charging</td>
                         <td class="td-data">{{phone.wireless_charging}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.reverse_charging %}
                         <td class="td-title">Reverse Charging</td>
                         <td class="td-data">{{phone.reverse_charging}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.charging_features %}
                         <td class="td-title">Features</td>
                         <td class="td-data">{{phone.charging_features}}</td>
                         {% endif %}
                   </tr>

                </tbody>
             </table>

             <! -- Price -->
             <table class="table table-bordered text-start table-hover" style="LINE-HEIGHT:20px">
                <h4 class="border mb-0 p-1 text-start bg-info">Price</h4>
               
                <tbody>
                   
                   <tr class="">
                    {% if phone.united_states %}
                         <td class="td-title">United States</td>
                         <td class="td-data" >{{phone.united_states|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.europe %}
                         <td class="td-title">Europe</td>
                         <td class="td-data">{{phone.europe|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.china %}
                         <td class="td-title">China</td>
                         <td class="td-data">{{phone.china|linebreaks}}</td>
                         {% endif %}
                   </tr>
                   <tr>
                    {% if phone.india %}
                         <td class="td-title">India</td>
                         <td class="td-data">{{phone.india|linebreaks}}</td>
                         {% endif %}
                   </tr>

                </tbody>
             </table>



        </div>
      </div>


<!--Question Anser-->
<div class="h5 fw-bolder border">Some Question and Anwser for {{phone.name}}</div>
<div class="row border">
     <div class="col text-start">

          <h2 class="h6 fw-bolder"><span class="text-danger">Q: </span>{{phone.name}} phone Release Date?</h6>
          <p> <span class="text-danger">Ans: </span>{{phone.name}} Smartphone Released in {{phone.release}}.</p>
          <hr>

          <h2 class="h6 fw-bolder"><span class="text-danger">Q: </span> Which processor is used in {{phone.name}} phone?</h6>
          <p> <span class="text-danger">Ans: </span>{{phone.name}} ‍Smartphone uses {{phone.processor}} processor.</p>
          <hr>

          <h2 class="h6 fw-bolder"><span class="text-danger">Q: </span> Which Display is used in {{phone.name}} phone?</h6>
          <p> <span class="text-danger">Ans: </span>{{phone.name}} ‍Smartphone uses {{phone.size}} {{phone.display_type}}, {{phone.refresh_rate}} Display.</p>
          <hr>

          <h2 class="h6 fw-bolder"><span class="text-danger">Q: </span> How much RAM is used in {{phone.name}} phone?</h6>
          <p> <span class="text-danger">Ans: </span>{{phone.name}} smartphone uses {{phone.ram}} RAM.</p>
          <hr>

          <h2 class="h6 fw-bolder"><span class="text-danger">Q: </span> How much Memory is used in {{phone.name}} phone?</h6>
          <p> <span class="text-danger">Ans: </span>{{phone.name}} smartphone uses {{phone.storage}} internal Memory.</p>
          <hr>

     </div>
     
</div>

<style>

     .td-title{
          font-weight: 600;
          color: brown;
          width: 35%;
          font-weight: bold;
      }
      
        .bg-info{
           background-color: brown;
           color: rgb(247, 245, 245);
        }
      
      .icon{
           color: coral;
           padding: 5px;
           font-size: 20px;
      }
</style>

{% endblock %}

{% block sidebar %}

<h1>Sidebar</h1>

{% endblock %}


