{% extends 'base.html' %}

{% block head %}
     <title>{{brands.seo_title}} - {{date}}></title>
     <meta name="description" content="{{brands.seo_des}}"/>
     <link rel="canonical" href="https://specbuzz.com{{request.get_full_path}}" />
     <meta property="og:type" content="article" />
     <meta property="og:title" content="{{brands.seo_title}} - {{date}}" />
     <meta property="og:description" content="{{brands.seo_des}}" />
     <meta property="og:url" content="https://specbuzz.com{{request.get_full_path}}" />
{% endblock %}


{% block body %}

  <div class=" d-grid p-1 mb-3 text-center border bg-light">
    <div class="scrollmenu">
    
      {% for brand in brand %}
        <a href="{% url 'Phone:Processor_by_brand' slug=brand.slug %}" class="btn-outline-danger" aria-current="page">{{brand.name}}</a>
        {% endfor %}
    
    </div>
  </div>


  <div class=" d-grid p-1 mb-3 text-center border bg-light">
    <h1 class="h4 fw-bold page-title">{{brands.name}} All Processor List</h2>
    </div>
   

    <ol class="list-group ">
      {% for processor in page_obj %}
      <li class="list-group-item d-flex justify-content-between align-items-start shadow-sm">
        <div class="ms-2 me-auto">
          <span class="bi bi-cpu-fill"> </span>
          <a  class="stretched-link text-decoration-none fw-bold text-dark hover" href="{% url 'Phone:phone_by_processor' slug=processor.slug  %}">{{processor.title}} </a>
          
        </div>
        <span class="badge bg-info rounded-pill">{{processor.phone_processor.count}}</span>

      </li>
      {% endfor %}
    </ol>



    <!-- Pagination -->
    <div class="row">
      <div class="col-md-4 offset-md-3 mt-3">
        
          <ul class="pagination">
            <li class="page-item">
              {% if page_obj.has_previous %}
              <a class="page-link" href="{% url 'Phone:Processor_by_brand' slug=brands.slug%}?page={{page_obj.previous_page_number}}">Previous</a>
              {% endif %}
            </li>
            {% for num_page in page_obj.paginator.page_range %}
            <br/>
            {% if page_obj.number == num_page %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="{% url 'Phone:Processor_by_brand' slug=brands.slug %}?page={{num_page}}">{{num_page}}</a>
            </li>
            {% else %}
            <li class="page-item" aria-current="page">
              <a class="page-link" href="{% url 'Phone:Processor_by_brand' slug=brands.slug %}?page={{num_page}}">{{num_page}}</a>
            </li>
            {% endif %}
            <br/>
            {% endfor %}
            <li class="page-item">
              {% if page_obj.has_next %}
              <a class="page-link" href="{% url 'Phone:Processor_by_brand' slug=brands.slug %}?page={{page_obj.next_page_number}}">Next</a>
              {% endif %}
            </li>
          </ul>
        
      </div>
    </div>
  



{% endblock %}