{% load page_tags %}

<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">

            {% for page in request|page_tags %}
            <span class="me-3">{{page.title}}</span>
            {% endfor %}
            
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">PhoneStore</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>