{% extends 'base.html' %}

{% block body %}

<div class=" d-grid p-1 mb-3 text-center border bg-light">
  <h2 class="fw-bold">Lasted Smartphone</h2>
  </div>

      <div class="row">

        {% for phone in page_obj %}
        <div class="col-lg-3 col-md-4 col-6 mb-4 ">
          <div class="card">

            <!-- <span class="position-absolute top-80 start-50 translate-middle badge rounded-pill bg-info">
              {{phone.status}}
              <span class="visually-hidden">unread messages</span>
            </span> -->

            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img class="img-fluid" src="{{ phone.thumbnail.url }}"
                class="w-100" />

            </div>
            <div class="card-body p-0 bg-light mt-2">
              <a href="" class="text-reset">
                <a class="card-title mb-3 stretched-link text-decoration-none fw-bold" href="{{phone.get_absolute_url}}">{{phone.name}} </a>
              </a>
              <h6 class="mb-1 mt-1">
                {% if phone.price %}
                <s> {% if phone.old_price %} {{phone.old_price}}$ {% endif %}</s><strong class="ms-2 text-danger">{{phone.price}}$</strong>
                {% else %}
                <strong class="ms-2 text-danger">0.00$</strong>
                {% endif %}
              </h6>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

  
      <div class="row">
        <div class="col-md-4 offset-md-3">
          
            <ul class="pagination">
              <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href="{% url 'Phone:home' %}?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
              </li>
              {% for num_page in page_obj.paginator.page_range %}
              <br/>
              {% if page_obj.number == num_page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="{% url 'Phone:home' %}?page={{num_page}}">{{num_page}}</a>
              </li>
              {% else %}
              <li class="page-item" aria-current="page">
                <a class="page-link" href="{% url 'Phone:home' %}?page={{num_page}}">{{num_page}}</a>
              </li>
              {% endif %}
              <br/>
              {% endfor %}
              <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="{% url 'Phone:home' %}?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
              </li>
            </ul>
          
        </div>
      </div>










      <!--Upcoming Phone-->
      <div class=" d-grid p-1 mb-3 text-center border bg-light">
        <h2 class="fw-bold">Upcoming Smartphone</h2>
        </div>
      
            <div class="row">
              {% for phone in u_phone %}
              <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card">
      
                  <span class="position-absolute top-80 start-50 translate-middle badge rounded-pill bg-info">
                    {{phone.status}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
      
                  <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img class="img-fluid" src="{{ phone.thumbnail.url }}"
                      class="w-100" />
      
                  </div>
                  <div class="card-body p-0 bg-light mt-2">
                    <a href="" class="text-reset">
                      <a class="card-title mb-3 stretched-link text-decoration-none fw-bold" href="{{phone.get_absolute_url}}">{{phone.name}} </a>
                    </a>
                    <h6 class="mb-1 mt-1">
                      {% if phone.price %}
                      <s> {% if phone.old_price %} {{phone.old_price}}$ {% endif %}</s><strong class="ms-2 text-danger">{{phone.price}}$</strong>
                      {% else %}
                      <strong class="ms-2 text-danger">0.00$</strong>
                      {% endif %}
                    </h6>
                  </div>
                </div>
              </div>
              {% endfor %}

              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link" href="{% url 'Phone:phone_list' status='Upcoming' %}">See more</a>
                </li>
              </ul>

            </div>


            
{% endblock %}


