{% extends 'base.html' %}

{% block body %}


      <div class="row">

        {% for phone in phone %}
        <div class="col-lg-3 col-md-4 col-6 mb-4">
          <div class="card">

            <span class="position-absolute top-80 start-50 translate-middle badge rounded-pill bg-info">
              {{phone.status}}
              <span class="visually-hidden">unread messages</span>
            </span>

            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img class="img-fluid" src="{{ phone.thumbnail.url }}"
                class="w-100" />

            </div>
            <div class="card-body p-0 bg-light mt-2">
              <a href="" class="text-reset">
                <a class="card-title mb-3 stretched-link text-decoration-none fw-bold" href="https://priceinall.com/product/nothing-phone-1/">{{phone.name}} </a>
              </a>
              <h6 class="mb-1 mt-1">
                <s>{{phone.old_price}}$</s><strong class="ms-2 text-danger">{{phone.price}}$</strong>
              </h6>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

{% endblock %}